.playerOne .ant-btn:hover,
.playerOne .ant-btn:focus,
.playerOne .ant-btn:active {
  border-color: lightcoral !important;
  color: lightcoral !important;
}
.playerTwo .ant-btn:hover,
.playerTwo .ant-btn:focus,
.playerTwo .ant-btn:active {
  border-color: cornflowerblue !important;
  color: cornflowerblue !important;
}

.allRandom {
  margin-left: 20px;
}

ul {
  list-style: none;
}
.playerOneHeaderName,
.playerTwoHeaderName {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playerOne {
  width: 45%;
  background: lightcoral;
  border-radius: 20px;
  padding: 20px;
}

.playerTwo {
  width: 45%;
  background: cornflowerblue;
  border-radius: 20px;
  padding: 20px;
}

.playerOneHeader,
.playerTwoHeader {
  margin-bottom: 30px;
}

.playerOneRandomList,
.playerTwoRandomList {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.vsImg {
}
